{% extends "govuk/template.njk" %}

{% block pageTitle %}
Application complete – Renew your driving licence – GOV.UK
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-l">Application complete</h1>
  <p class="govuk-body">Thank you for renewing your driving licence. You will receive confirmation by post within 2 weeks.</p>
  <a href="/" class="govuk-button">Return to start</a>
{% endblock %} 