{% extends "govuk/template.njk" %}

{% block pageTitle %}
Renew your driving licence - GOV.UK
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">Renew your driving licence</h1>
  <p class="govuk-body">Use this service to renew your driving licence with the DVLA.</p>
  <p class="govuk-body">This prototype service was created with Cursor AI (an AI enhanced IDE) in order
  to explore how such tooling can help GDS compliant services to be developed more quickly and of a
  higher quality compared to a fully manual approach.</p>
  <a href="/step-1" class="govuk-button">Start now</a>
{% endblock %} 