{% extends "govuk/template.njk" %}

{% block pageTitle %}
Renew your driving licence - GOV.UK
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">Renew your driving licence</h1>
  <p class="govuk-body">Use this service to renew your driving licence with the DVLA.</p>
  <a href="/step-1" class="govuk-button">Start now</a>
{% endblock %} 